<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" id="e0f9a349-0c57-4020-a9ae-9af11fb0daac" port="8090" path="/" host="localhost" name="MPXUserSerivce" routeModeEnabled="false" routeEndpoint="http://data.userprofile.community.theplatform.eu" addUnmatchedOperation="true">
  <con:settings id="063faaf7-f55e-4579-8f0f-8abcf0f0ac0b">
    <con:setting id="e0f9a349-0c57-4020-a9ae-9af11fb0daacfileName">MPXUserSerivce</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:dataSources>
    <con:dataSource>
      <con:dataSource type="Data Generator">
        <con:configuration>
          <generatedDataCount>10</generatedDataCount>
          <generatorsTotalNumber>2</generatorsTotalNumber>
          <lastSelectedProperty>1</lastSelectedProperty>
          <GeneratorType0>GUID</GeneratorType0>
          <PropertyName0>guid</PropertyName0>
          <repetitionCountguid>1</repetitionCountguid>
          <repeatValuesguid>false</repeatValuesguid>
          <GeneratorType1>SSN</GeneratorType1>
          <PropertyName1>username</PropertyName1>
          <repetitionCountusername>0</repetitionCountusername>
          <repeatValuesusername>false</repeatValuesusername>
          <Countryssn1>United States</Countryssn1>
          <escapeSpaceSequence/>
        </con:configuration>
      </con:dataSource>
      <con:name>UserDataSource</con:name>
      <con:property>guid</con:property>
      <con:property>username</con:property>
    </con:dataSource>
  </con:dataSources>
  <con:headerValidator type="NONE"/>
</con:restMockService>
